<h3>Mes playlists</h3>
<mat-card class="allLists">
  <mat-card-content>
    <mat-list>
      <button (click)="openDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Nouvelle liste
      </button>
      <div *ngFor="let list of listToManage; let ind = index">
        <mat-list-item class="item">
          <h4 mat-line [routerLink]="['/listes', list.name]">{{list.name}}</h4>
          <p mat-line *ngIf="!list.movies.length "> Ne contient aucun film</p>
          <p mat-line *ngIf="list.movies.length == 1 "> {{list.movies.length}} film</p>
          <p mat-line *ngIf="list.movies.length > 1"> {{list.movies.length}} films</p>
          <div class="action">
            <button mat-raised-button color="primary">
              <mat-icon>edit</mat-icon> Modifer
            </button>
            <button (click)="deleteList(ind)" mat-raised-button color="warn">
              <mat-icon>delete</mat-icon> Supprimer
            </button>
            <button mat-raised-button [matMenuTriggerFor]="menu">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
  <mat-menu #menu="matMenu" class="menu" >
    <img class="social" [src]="facebook">
    <img class="social" [src]="twitter">
    <img class="social" [src]="googlePlus">
    <img class="social" [src]="mail">
  </mat-menu>
</mat-card>