 .toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  } 

.logo-img {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

.logo-img:hover {
  cursor: pointer;
}

nav {
  float: right;
  width: 60%;
  font-weight: bold;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  /*line-height: 1.5;*/
}

.spacer {
  flex: 1 1 auto;
}