 
<mat-toolbar color="primary">
  <div *ngIf="user">
    <img id="logoGoogle" [src]="user.photoURL"  />
    <span>{{user.displayName}}</span>
  </div>
  <div *ngIf="!user">
    <button (click)="login()">Connection via Google</button>
  </div>

  <span id="titleHap" >Pick Movie Eradicator Machine</span>

  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon> 
  </button>
  
</mat-toolbar>

<mat-menu id="endMenu" x-position="before" #menu="matMenu">
  <button *ngIf="user" (click)="logout()"  mat-menu-item>Sign Off</button>
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu>


<hr/>
<pre *ngIf="lists">
  {{lists | async | json}}
</pre>

<hr/>
<section *ngIf="movie">
  <img [src]="getPath(movie.poster_path)" />
  <pre>{{movie | json}}</pre>
</section>
<section *ngIf="!movie">
  Pas encore de films à afficher...
</section>


<app-trending></app-trending>