#logoGoogle {
    width: 65px;
    height:65px;
    padding: 0px;
    margin: 0px;
}

span {
    padding-left: 5px;
}

#titleHap {
padding-left:10%;
margin-right: 45%;
}

#endMenu {
    margin-right:0%;
    padding-right:0%;
}