<!-- div parent-->
<div>
  <div class="left">
    <!-- partie filtre-->
    <div class="filterFather">
      <div class="filter">
      <span class="sp">
        Filtres
      </span>
      </div>
      <div class="film">
       <span class="sous-titre">
        Titre
       </span>
        <form>
          <mat-form-field>
            <input class="inputSyle"
                   matInput
                   type="text"
                   [formControl]="title"
                   (keyup)="searchMovies(title.value)">
          </mat-form-field>
        </form>
        <hr/>
        <span class="sous-titre">
        Genre
      </span>
        <form>
          <mat-form-field>
            <mat-select class="inputSyle"
                        [formControl]="genreControl"
                        multiple
                        (selectionChange)="searchMovies(title.value)"
            >
              <mat-option *ngFor="let genre of genres" [value]="genre">
                {{genre.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <hr>
        <span class="sous-titre">
        Producteur
      </span>
        <form class="example-form">
          <mat-form-field>
            <input class="inputSyle"
                   type="text"
                   aria-label="Productor name"
                   matInput
                   [formControl]="productorControl"
                   (keyup)="searchProductor(productorControl.value)"
                   [matAutocomplete]="auto1">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
              <mat-option *ngFor="let productor of producotrsSearched" [value]="productor">
                {{productor}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <hr>
        <span class="sous-titre">
        Pays
      </span>
        <form>
          <mat-form-field>
            <mat-select class="inputSyle"
                        [formControl]="countryControl">
              <mat-option *ngFor="let country of countries" [value]="country">
                [{{country.iso_3166_1}}] {{country.english_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <hr>
        <span class="sous-titre">
        Année
    </span>
        <nouislider [connect]="true"
                    [min]="1888"
                    [max]="currentYear"
                    [step]="1"
                    [tooltips]="[true,true]"
                    [(ngModel)]="moviePeriodFilter"
                    (change)="searchMovies(title.value)"
        ></nouislider>
        <hr>
        <span class="sous-titre">
        Acteurs
      </span>
        <form>
          <mat-form-field>
            <input class="inputSyle"
                   type="text"
                   aria-label="Actor name"
                   matInput
                   [formControl]="actorControl"
                   (keyup)="searchActor(actorControl.value)"
                   (keyup.enter)="insertInputTag()"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let actor of actorsSearched" [value]="actor">
                {{actor}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-card>
            <mat-chip-list>
              <mat-chip class="tags" *ngFor="let actor of selectedActors"
                        [removable]="true"
                        (removed)="remove(actor)">
                {{actor}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
  <!-- partie centrale-->
  <div>
  </div>
</div>
