<div class="example-button-row">
  <button mat-raised-button (click)="displayTrends = 'movie'" color="primary">Movies</button>
  <button mat-raised-button (click)="displayTrends = 'TV'" color="primary">TV</button>
</div>

<div *ngIf="_trendsMovie && _trendsTV ; else  WaitBro">
  <div *ngIf="displayTrends == 'movie'" > 
        <mat-card *ngFor="let movie_element of getTrendingMovies()"> 
          <img mat-card-image [src] = "getPath(movie_element.poster_path)"/>
          <mat-card-footer>{{movie_element.title}}</mat-card-footer>
        </mat-card> 
  </div>
</div>

<ng-template #WaitBro>
  <p>Media Loading</p>
</ng-template>
