<<<<<<< HEAD
=======
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
/* mat-grid-tile-footer {
    margin-bottom:15px;
    padding-bottom: 15px;
} */



mat-card {
  cursor: pointer;
}

.flexInfo {
  display: flex; 
  justify-content: center; 
}

button {
  margin:0px 5px 0px 5px;
}


section {
  margin: auto;
  width: 95%;
  padding: 0px;

  /* Grid layout (vanilla CSS feature since 2017) */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
  grid-column-gap: 1% ;
}

mat-card-footer  > p{
 margin-top: 5px;
 font-size: 0.9em;
}

mat-card > img {
  margin-bottom: 0px;
}
>>>>>>> parent of 5268edf... last retouchings'
